# Backend Port
PORT=3001

# Vite API URL for Frontend
VITE_API_URL=http://localhost:3001

# PostgreSQL Database Configuration
DB_USER=postgres
DB_HOST=localhost
DB_NAME=triadvaults
DB_PASSWORD=admin
DB_PORT=5432

# SMTP Email Configuration (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_contraseña_de_aplicacion
SMTP_FROM="Triad Vaults" <tu_correo@gmail.com>
